{% comment %}
  Price Snippet - Renders product price with sale and compare at pricing
{% endcomment %}

{%- liquid
  assign target = product
  if use_variant
    assign target = product.selected_or_first_available_variant
  endif
-%}

<div class="price {{ price_class }}
  {%- if target.compare_at_price > target.price %} price--on-sale{% endif -%}
  {%- if target.available == false %} price--sold-out{% endif -%}
  {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
  {%- if show_badges %} price--show-badge{% endif -%}
">
  <div class="price__container">
    {%- comment -%}
      Compare at price display
    {%- endcomment -%}
    {%- if target.compare_at_price > target.price -%}
      <div class="price__regular">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span>
          <s class="price-item price-item--regular">
            {% if settings.currency_code_enabled %}
              {{ target.compare_at_price | money_with_currency }}
            {% else %}
              {{ target.compare_at_price | money }}
            {% endif %}
          </s>
        </span>
      </div>
    {%- endif -%}

    <div class="price__sale">
      {%- unless product.price_varies == false and product.compare_at_price_varies -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span>
          <s class="price-item price-item--regular">
            {% if settings.currency_code_enabled %}
              {{ target.compare_at_price | money_with_currency }}
            {% else %}
              {{ target.compare_at_price | money }}
            {% endif %}
          </s>
        </span>
      {%- endunless -%}
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item price-item--sale price-item--last">
        {% if settings.currency_code_enabled %}
          {{ target.price | money_with_currency }}
        {% else %}
          {{ target.price | money }}
        {% endif %}
      </span>
    </div>
    
    <small class="unit-price caption{% if target.unit_price_measurement == nil %} hidden{% endif %}">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span>{{- target.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if target.unit_price_measurement.reference_value != 1 -%}
            {{- target.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ target.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  </div>
  
  {%- if show_badges -%}
    <span class="badge price__badge-sale color-accent-1">
      {{ 'products.product.on_sale' | t }}
    </span>
    <span class="badge price__badge-sold-out color-inverse">
      {{ 'products.product.sold_out' | t }}
    </span>
  {%- endif -%}
</div>
