<footer class="footer color-{{ section.settings.color_scheme }}">
  <div class="footer__content-top page-width">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'link_list' -%}
          <div class="footer__links-wrapper" {{ block.shopify_attributes }}>
            {%- if block.settings.heading != blank -%}
              <h3 class="footer__links-heading">{{ block.settings.heading }}</h3>
            {%- endif -%}
            {%- if block.settings.menu != blank -%}
              <ul class="footer__links list-unstyled">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>
        {%- when 'text' -%}
          <div class="footer__text" {{ block.shopify_attributes }}>
            {%- if block.settings.heading != blank -%}
              <h3 class="footer__text-heading">{{ block.settings.heading }}</h3>
            {%- endif -%}
            <div class="rte">{{ block.settings.subtext }}</div>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  <div class="footer__content-bottom page-width">
    <div class="footer__copyright caption">
      <small>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</small>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "About us",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        { "value": "background-1", "label": "t:sections.all.colors.background_1" },
        { "value": "background-2", "label": "t:sections.all.colors.background_2" },
        { "value": "inverse", "label": "t:sections.all.colors.inverse" }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
  ]
}
{% endschema %}
