<header class="header header--{{ section.settings.logo_position }}">
  <div class="page-width header__wrapper">
    {%- if section.settings.menu != blank -%}
      <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
              <a href="{{ link.url }}" class="header__menu-item list-menu__item link">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    <h1 class="header__heading">
      <a href="{{ routes.root_url }}" class="header__heading-link">
        {%- if section.settings.logo != blank -%}
          <img src="{{ section.settings.logo | image_url: width: 300 }}" alt="{{ shop.name }}" class="header__heading-logo" width="{{ section.settings.logo_width }}">
        {%- else -%}
          {{ shop.name }}
        {%- endif -%}
      </a>
    </h1>

    <div class="header__icons">
      <a href="{{ routes.search_url }}" class="header__icon header__icon--search">
        {% render 'icon-search' %}
      </a>
      <a href="{{ routes.account_url }}" class="header__icon header__icon--account">
        {% render 'icon-account' %}
      </a>
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart">
        {% render 'icon-cart' %}
        <span class="cart-count-bubble">
          {{ cart.item_count }}
        </span>
      </a>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "px",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        { "value": "middle-left", "label": "t:sections.header.settings.logo_position.options__1.label" },
        { "value": "top-left", "label": "t:sections.header.settings.logo_position.options__2.label" },
        { "value": "top-center", "label": "t:sections.header.settings.logo_position.options__3.label" },
        { "value": "middle-center", "label": "t:sections.header.settings.logo_position.options__4.label" }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}
